[package]
name = "edamame_posture"
version = "0.3.84"
edition = "2021"

[dependencies]

# EDAMAME foundation
edamame_foundation = { git = "https://github.com/edamametechnologies/edamame_foundation", branch = "dev" }
edamame_core = { git = "https://github.com/edamametechnologies/edamame_core", branch = "dev", features = [ "nohealth", "nopwned", "nobridge", "swiftrs" ] }

# Files
glob = "0.3.1"
fs2 = "0.4.3"

# Progress
indicatif = "0.15.0"

# YAML
serde = "1.0.204"
serde_yaml = "0.9.34+deprecated"

# System
sysinfo = "0.30.13"
dirs = "5.0.1"

# Machine UID
machine-uid = "0.5.2"

# CLI
clap = "4.1.1"

# Logging
tracing = "0.1.40"

# Encrypted env (weak)
envcrypt = "0.5.0"

# Process
[target.'cfg(any(target_os = "macos", target_os = "linux"))'.dependencies]
daemonize = "0.5.0"
[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.58.0", features = [ "Win32_System_Environment",  "Win32_System_Threading", "Win32_Foundation",  "Win32_Security" ] }
widestring = "1.1.0"

[build-dependencies]

# Build metadata
vergen = { version = "8.3.1", features = ["build", "git", "gitcl", "si"] }

