[target.x86_64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt update -y && apt install -y protobuf-compiler libpcap-dev:$CROSS_DEB_ARCH"
]

[target.x86_64-unknown-linux-musl]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt update -y && apt install -y protobuf-compiler",
    "apk add --no-cachelibpcap-dev"
]

[target.i686-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt update -y && apt install -y protobuf-compiler libpcap-dev:$CROSS_DEB_ARCH"
]

[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt update -y && apt install -y protobuf-compiler libpcap-dev:$CROSS_DEB_ARCH"
]

[target.aarch64-unknown-linux-musl]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt update -y && apt install -y protobuf-compiler",
    "apk add --no-cachelibpcap-dev"
]

[target.armv7-unknown-linux-gnueabihf]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt update -y && apt install -y protobuf-compiler libpcap-dev:$CROSS_DEB_ARCH"
]

[build.env]
passthrough = [
    "EDAMAME_APP_SENTRY",
    "PWNED_API_KEY",
    "EDAMAME_TARGET",
    "EDAMAME_CORE_TARGET",
    "EDAMAME_CORE_SERVER",
    "EDAMAME_CA_PEM",
    "EDAMAME_CLIENT_PEM",
    "EDAMAME_CLIENT_KEY",
    "EDAMAME_SERVER_PEM",
    "EDAMAME_SERVER_KEY",
    "EDAMAME_CLIENT_CA_PEM",
    "LAMBDA_SIGNATURE",
]
