[Unit]
Description=EDAMAME Security posture analysis and remediation
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/edamame_posture_daemon.sh
ExecStop=/usr/bin/edamame_posture stop
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target